<!DOCTYPE html>

<head xmlns:th="http://www.w3.org/1999/xhtml" >

    <title>Welcome</title>
   </head>
<body>

    <h1>Welcome to This Site</h1>
    <h2><a th:href="${/register}">Register Data</a> </h2>
    <h3><a th:href ="${/users}">Show Data</a></h3>



</body>
</html>