<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>show data</title>
</head>
<body>

<<div>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>User ID</th>
            <th>E-mail</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${listUser}">
            <td th:text="${user.id}">User ID</td>
            <td th:text="${user.email}">E-mail</td>
            <td th:text="${user.firstName}">First Name</td>
            <td th:text="${user.lastName}">Last Name</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>